body {
  font-family: Arial, sans-serif;
  background-color: #d4e6f1;
}

h2 {
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="text"]:focus{
    outline:2px solid #5dade2;
}

input[type="password"]:focus{
     outline:2px solid #5dade2;
}

#submit{
  width: 100%;
  padding: 10px;
  background-color: #5dade2;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #3498db;
}

#username {
  padding-left: 0px;
  padding-right: 0px;
}

#password {
  padding-left: 0px;
  padding-right: 0px;
}


#message{
    text-align: center;
}